[submodule "skill/terraform-skill"]
	path = skill/terraform-skill
	url = https://github.com/antonbabenko/terraform-skill
[submodule "skill/terragrunt-skill"]
	path = skill/terragrunt-skill
	url = git@github.com:jfr992/terragrunt-skill.git
